html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

* {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #fff;
    letter-spacing: 1px;
}

body {
    background-color: #181818;
    font-size: 14px;
    min-width: 720px;
}

#nowPlayingBarContainer {
	background-color: #282828;
	width: 100%;
	height: 100px;
	bottom: 0;
	position: fixed;
}

#nowPlayingBar {
	display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}

#nowPlayingLeft,
#nowPlayingRight {
	width: 30%;
    min-width: 180px;
}

#nowPlayingRight {
	position: relative;
	margin-top: 16px;
}

#nowPlayingCenter {
	width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nowPlayingBar .content {
	width: 100%;
	height: 57px;
}

.playerControls .buttons {
	margin: 0 auto;
    display: table;
}

.controlButton {
	background-color: transparent;
    border: none;
    vertical-align: middle;
}

.controlButton img {
	width: 20px;
    height: 20px;
}

.controlButton.play img, 
.controlButton.pause img {
	width: 32px;
    height: 32px;
}

.controlButton:hover {
	cursor: pointer;
}

.playbackBar {
	display: flex;
}

.progressTime {
	text-align: center;
    min-width: 40px;
    color: #a0a0a0;
    font-size: 11px;
}

.progressBar {
	width: 100%;
    height: 12px;
    display: inline-flex;
    cursor: pointer;
}

.progressBarBg {
	height: 4px;
    background-color: #404040;
    width: 100%;
    border-radius: 2px;
}

.progress {
	background-color: #a0a0a0;
    height: 4px;
    width: 0;
    border-radius: 2px;
}

.playbackBar .progressBar {
	margin-top: 3px;
}

#nowPlayingLeft .albumArtwork {
	height: 100%;
    max-width: 57px;
    margin-right: 15px;
    float: left;
    background-size: cover;
}

#nowPlayingLeft .trackInfo {
	display: table;
}

#nowPlayingLeft .trackInfo .trackName {
	margin: 6px 0;
    display: inline-block;
    width: 100%;
}

#nowPlayingLeft .trackInfo .artistName span {
	color: #a0a0a0;
    font-size: 12px;
}

.volumeBar {
	width: 180px;
    position: absolute;
    right: 0;
}

.volumeBar .progressBar {
	width: 125px;
}

#topContainer {
	min-height: 100%;
	width: 100%;
}

#navBarContainer {
	background-color: #000;
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.navBar {
	padding: 25px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.logo img {
	width: 32px;
}

.logo {
	margin-bottom: 15px;
}

.navBar .group {
	border-top: 1px solid #a0a0a0;
    padding: 10px 0;
}

.navItem {
	padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
    position: relative;
}

.navItemLink {
	color: #a0a0a0;
	text-decoration: none;
}

.navItemLink:hover {
	color: #ffffff;
}


.navItemLink .icon {
	position: absolute;
    right: 0;
    top: 6px;
    width: 25px;
}

#mainViewContainer {
    margin-left: 220px;
    padding-bottom: 90px;
    width: calc(100% - 220px);
}

#mainContent {
    padding: 0 20px;
}

.pageHeadingBig {
    padding: 20px;
    text-align: left;
}

.gridViewItem {
    display: inline-block;
    margin-right: 20px;
    width: 29%;
    max-width: 200px;
    min-width: 150px;
    margin-bottom: 20px;
}

.gridViewItem img {
    width: 100%;
}

.gridViewInfo {
    font-weight: 300;
    text-align: center;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.gridViewItem a {
    text-decoration: none;
}

.entityInfo {
    padding: 40px 0 10px 0;
    display: inline-block;
    width: 100%;
}

.entityInfo .leftSection {
    width: 30%;
    float: left;
    max-width: 250px;
}

.entityInfo .leftSection img {
    width: 100%;
}

.entityInfo .rightSection {
    width: 70%;
    float: left;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
}

.entityInfo .rightSection h2 {
    margin-top: 0px;
}

.entityInfo .rightSection p {
    color: #939393;
    font-weight: 200;
}

.trackList {
    padding: 0;
}

.trackList .trackListRow {
    height: 40px;
    padding: 15px 10px;
    list-style: none;
}

.trackListRow span {
    font-weight: 200;
    color: #939393;
}

.trackListRow:hover {
    background-color: #282828;
}

.trackListRow .trackCount {
    width: 8%;
    float: left;
}

.trackListRow .trackCount img {
    width: 20px;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
}


.trackListRow:hover .trackCount img {
    visibility: visible;
}

.trackListRow .trackCount span {
    visibility: visible;
}

.trackListRow:hover .trackCount span {
    visibility: hidden;
}

.trackListRow .trackInfo {
    width: 75%;
    float: left;
}

.trackListRow .trackInfo span {
    display: block;
}

.trackListRow .trackOptions {
    width: 5%;
    float: left;
    text-align: right;
}

.trackListRow .trackOptions img {
    width: 15px;
    visibility: hidden;
}

.trackListRow:hover .trackOptions img {
    visibility: visible;
}

.trackListRow .trackDuration {
    width: 12%;
    float: left;
    text-align: right;
}

.trackListRow .trackInfo .trackName {
    color: #fff;
    margin-bottom: 7px;
}




